.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
}

.container {
display: flex;

}

.container_titulo {

    display: none;
}

.container_texto {

display: none;
font-style: italic;
font-size: 2em;
}
@media screen and (min-width:820px){

    .container__titulo{
        display: block;
        margin-left:0.5em;
    }
       
    
}